@model List<LojaVirtual.Models.Produto>
@{
    var Produto = Model;
    ViewData["Title"] = "Buscar Produto";
}
<h1>@ViewData["Title"]</h1>
<form action="/produtos/BuscarProdutos" method="post">
    <label>
        <input name="nome" type="text" />
    </label>
    <button type="submit">Buscar</button>
</form>

@*@{if (Pessoa != null)
        {
            if (Pessoa.id > 0)
            {
                <label>
                    @Pessoa.nome
                </label>
                <label>
                    @Pessoa.sobreNome
                </label>
                <label>
                    @Pessoa.aniversario
                </label>
            }
            else
            {
                <div class="alert-danger"> PESSOA NÃO ENCONTRADA</div>
            }

        }
    }*@