
@{
    var mensagem = ViewBag.MensagemRetorno;
}
<!--inicio content-->


<main class="page-content mt-0 mb-0 pt-5 bg-yellow-2">
    <div class="container">
        <div class="row">
            <div class="col-md-5 pt-5">
                <section class="pt-5">
                    <h1 class="text-white fw-bolder">Primeiro em busca por medicina veterinária</h1>
                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporary incididunt ut labore et dolore magna aliqua. Enim adim ad minimim veniam, quis nostrud exercise ullamco laboris nisi ut alipip ex ea commodo consequat. Duis auteur irure pain in reprehenderit in voluptate velit this cillum dolore eu fugiat nulla pariatur. Excepteur sint occecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </section>
            </div>
            <div class="col-md-7 col-md-offset-2">
                <section>
                    <img src="~/assets/img/Place-Your-Image-Here-(Double-Click-to-Edit).png" class="img-fluid" alt="" style="width: 70%;transform: scaleX(-1);margin: 0 auto;display: block;"/>
                </section>
            </div>
        </div>
    </div>
</main>

<main class="page-content mt-0 mb-0 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-5 pt-5 pb-5">
                <section>
                    <img src="~/assets/img/Card-Imag.png" class="img-fluid" alt="" style="margin: 0 auto;"/>
                </section>
            </div>
            <div class="col-md-7 col-md-offset-2 pt-5 pb-5">
                <section>
                    <h1 class="text-black fw-bolder">Apenas profissionais que amam animais.</h1>
                    <p class="text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporary incididunt ut labore et dolore magna aliqua. Enim adim ad minimim veniam, quis nostrud exercise ullamco laboris nisi ut alipip ex ea commodo consequat. Duis auteur irure pain in reprehenderit in voluptate velit this cillum dolore eu fugiat nulla pariatur. Excepteur sint occecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </section>
            </div>

        </div>
    </div>
</main>

<main class="page-content mt-0 pb-5 bg-yellow-2">


    @*TEXTO CABEÇALHO *@

    <div class="row d-flex justify-content-center" style="padding:5em 0 0 0;">
        <div class="col-md-10 pb-5">
            <p class="display-4 text-uppercase text-center font-weight-bold text-blue-new font-italic titleBold">Nossos Funcionários</p>
        </div>
    </div>

    @*CARDS HEADER *@

    <div class="row" style="padding: 2em 0 5em 0; justify-content: center;">
        <div class="col-lg-3 col-sm-6 pt-5">
            <div class="d-flex justify-content-center pb-3 h-100">
                <!-- Card -->
                <div class="card card-image">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center py-5 px-4 h-100" style="background-color:#e7e7e7 !important; padding-bottom:2.7em !important;">
                        <div>
                            <img src="~/assets/img/Image_not_available.png" class="img-fluid w-100 image-rotate" />
                        </div>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <br />
            <h5 class="card-title pt-2 text-uppercase text-center text-blue-new font-italic"><strong>Veterinários</strong></h5>
            <p class="text-left text-gray-new">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporary incididunt
            </p>
        </div>

        <div class="col-lg-3 col-sm-6 pt-5">
            <div class="d-flex justify-content-center pb-3 h-100">
                <!-- Card -->
                <div class="card card-image">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center py-5 px-4 h-100" style="background-color:#e7e7e7 !important; padding-bottom:2.7em !important;">
                        <div>
                            <img src="~/assets/img/Image_not_available.png" class="img-fluid w-100 image-rotate" />
                        </div>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <br />
            <h5 class="card-title pt-2 text-uppercase text-center text-blue-new font-italic"><strong>Veterinários</strong></h5>
            <p class="text-left text-gray-new">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporary incididunt
            </p>
        </div>

        <div class="col-lg-3 col-sm-6 pt-5">
            <div class="d-flex justify-content-center pb-3 h-100">
                <!-- Card -->
                <div class="card card-image">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center py-5 px-4 h-100" style="background-color:#e7e7e7 !important; padding-bottom:2.7em !important;">
                        <div>
                            <img src="~/assets/img/Image_not_available.png" class="img-fluid w-100 image-rotate" />
                        </div>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <br />
            <h5 class="card-title pt-2 text-uppercase text-center text-blue-new font-italic"><strong>Veterinários</strong></h5>
            <p class="text-left text-gray-new">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporary incididunt
            </p>
        </div>

    </div>
</main>
<!--fim main-->