@model Domain.Entidade.View.ViewModel
@using EnumsNET;
@using Domain.Entidade;
@{
    ViewData["Title"] = "Editar Prontuário";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> listItemsPets = new List<SelectListItem>();

    //ESTOU FIXANDO O PET PARAMETRO COMO O PRIMEIRO DA LISTA
    Model.ListaPets.Remove(Model.ListaPets.First(x => x.Id == Model.Pet.Id));

    listItemsPets.Add(new SelectListItem
    {
        Text = Model.Pet.Nome,
        Value = Model.Pet.Id.ToString()
    });

    foreach (Pet item in Model.ListaPets)
    {
        listItemsPets.Add(new SelectListItem
        {
            Text = item.Nome,
            Value = item.Id.ToString()
        });

    }
}

<main class="page-content">

    <div class="profile-cover bg-dark"></div>

    <div class="row">
        <div class="col-12 col-lg-8 justify-content-center mx-auto">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="mb-0">@ViewData["Title"]</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">INFORMAÇÃO DO PRONTUÁRIO</h6>
                        </div>
                        <div class="card-body">
                            <form asp-action="Editar" method="post" enctype="multipart/form-data" class="row g-3">
                                <div class="col-8">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Prontuario.Id" class="control-label d-none"></label>
                                        <input asp-for="Prontuario.Id" name="Id" class="form-control d-none" readonly/>
                                        <span asp-validation-for="Prontuario.Id" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Prontuario.Resumo" class="control-label"></label>
                                        <input asp-for="Prontuario.Resumo" name="Resumo" class="form-control" />
                                        <span asp-validation-for="Prontuario.Resumo" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Prontuario.Descricao" class="control-label"></label>
                                        <input asp-for="Prontuario.Descricao" name="Descricao" class="form-control" />
                                        <span asp-validation-for="Prontuario.Descricao" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ListaMedicos.First().Nome" class="form-label">Médico</label>
                                        <input asp-for="ListaMedicos.First().Nome" name="Nome" class="form-control" value="@Model.ListaMedicos.First().Nome" readonly>
                                        <span asp-validation-for="ListaMedicos.First().Nome" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Pet" class="form-label"></label>
                                        @Html.DropDownListFor(model => model.Pet, listItemsPets, new { @class = "form-control", data_toggle = "tooltip", title = "Pets", name = "Pet" })
                                        <span asp-validation-for="Pet" class="text-danger"></span>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}