@{var Mensagem = SessionExtensionsHelp.GetObject<string>(this.Context.Session, "Mensagem");}
<!doctype html>

<html lang="pt-br" class="light-theme">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <environment include="Development">
        <link rel="icon" href="~/assets/img/favicon-32x32.png" type="image/png" />


        <!-- Bootstrap CSS -->
        <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
        <link href="~/assets/css/bootstrap-extended.css" rel="stylesheet" />
        <link href="~/assets/css/style.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    </environment>

    <environment exclude="Development">
        <link rel="icon" href="~/assets/img/favicon-32x32.png" type="image/png" />


        <!-- Bootstrap CSS -->
        <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
        <link href="~/assets/css/bootstrap-extended.css" rel="stylesheet" />
        <link href="~/assets/css/style.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    </environment>

    <title>Pet Lab Veterinária</title>

</head>

<body>
    <!--Inicio wrapper-->
    <div class="wrapper">
        <!--fim sidebar -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-yellow rounded-0 border-bottom">
                <div class="container">
                    <div class="navbar-mobile col-12 p-0 d-flex align-items-center justify-content-center my-3">
                        <!-- logo -->
                        <a class="navbar-brand" href="#"><img src="~/assets/img/brand-logo-2.png" width="200" alt="" /></a>
                        <!-- fim da logo -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" asp-controller="Autenticacao" asp-action="Privacy">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Autenticacao" asp-action="Privacy">Sobre</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Autenticacao" asp-action="Privacy">Serviços</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Autenticacao" asp-action="Privacy">Contatos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Autenticacao" asp-action="Privacy">Parceiros</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Autenticacao" asp-action="Login">Login</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!--inicio content-->
        <div class="bg-surface">
            <div class="wrapper">
                @RenderBody()
            </div>
            <div id="myModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Mensagem:</h5>
                        </div>
                        <div class="modal-body">
                            <p class="fw-bold">@Mensagem</p>
                        </div>
                        <div class="modal-footer">
                            <button id="btnModal" type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white border-top p-3 text-center fixed-bottom">
            <p class="mb-0">2022 © Pet Lab Veterinária - Todos os Direitos Reservados</p>
        </footer>

        <!--fim main-->

    </div>
    <!--fim wrapper-->
    <environment include="Development">
        <script src="~/assets/js/jquery.min.js" asp-fallback-src="~/assets/js/jquery.min.js" asp-fallback-test="window.jQuery"></script>
        <script src="~/assets/js/bootstrap.bundle.min.js" asp-fallback-src="~/assets/js/bootstrap.bundle.min.js" asp-fallback-test="window.jQuery"></script>
        <script src="~/assets/js/app.js" asp-fallback-src="~/assets/js/app.js" asp-fallback-test="window.jQuery"></script>

        @if (Mensagem != null)
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#myModal').modal('toggle');
                })

                $("#btnModal").click(function () {
                    $('#myModal').modal('toggle');
                });
            </script>
            SessionExtensionsHelp.RemoveObject(this.Context.Session, "Mensagem");
        }
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function () {
                var $btnMobile = document.querySelector('.navbar-toggler');
                var $MenuMobile = document.querySelector('.navbar-collapse');

                $btnMobile.addEventListener('click', () => {
                    $MenuMobile.classList.toggle('show');
                });
            });
        </script>
    </environment>
    <environment exclude="Development">
        <script src="~/assets/js/jquery.min.js" asp-fallback-src="~/assets/js/jquery.min.js" asp-fallback-test="window.jQuery"></script>
        <script src="~/assets/js/bootstrap.bundle.min.js" asp-fallback-src="~/assets/js/bootstrap.bundle.min.js" asp-fallback-test="window.jQuery"></script>
        <script src="~/assets/js/app.js" asp-fallback-src="~/assets/js/app.js" asp-fallback-test="window.jQuery"></script>

        @if (Mensagem != null)
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#myModal').modal('toggle');
                })

                $("#btnModal").click(function () {
                    $('#myModal').modal('toggle');
                });

            </script>
            SessionExtensionsHelp.RemoveObject(this.Context.Session, "Mensagem");
        }
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function () {
                var $btnMobile = document.querySelector('.navbar-toggler');
                var $MenuMobile = document.querySelector('.navbar-collapse');

                $btnMobile.addEventListener('click', () => {
                    $MenuMobile.classList.toggle('show');
                });
            });
        </script>
    </environment>

    @RenderSection("scripts", required: false)

</body>

</html>
