@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex justify-content-center">
    @*<div class="text-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">PRODUTOS</h5>
                <a class="btn btn-primary" href="/produtos/cadastrar">Cadastrar</a>
                <a class="btn btn-primary" href="/produtos/listar">Pesquisar</a>
            </div>
        </div>
    </div>*@

    <div class="text-center">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title">PESSOAS</h5>
                <a class="btn btn-primary" href="/pessoas/cadastrar">Cadastrar</a>
                <a class="btn btn-primary" href="/pessoas/listar">Pesquisar</a>
                <a class="btn btn-primary" href="/pessoas/calendario">Calendário</a>
            </div>
        </div>
    </div>
</div>
