@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gerenciados de Produtos</h1>
    <ul>
        <li><a href="/produtos/cadastrar">Cadastrar</a></li>
        <li><a href="/produtos/listar">Listar</a></li>
        <li><a href="/produtos/excluir">Excluir</a></li>
        <li><a href="/produtos/pesquisar">Pesquisar</a></li>
    </ul>
</div>
