@{
    ViewData["Title"] = "Home Page";
}

<div class="card text-center" style="background: #dbdbdb57 !important">
    <h1 class="display-4 font-weight-bold">José Ricardo Lima dos Santos Peirea</h1>
    <h3>jose.lsantos@al.infnet.edu.br</h3>
    <p>Git hub <a href="https://github.com/joselsantospqt">Link here</a>.</p>
</div>

<div class="row d-flex justify-content-center pt-5">
    <div class="card m-2" style="width: 18rem;">
        <div class="card-body">
            <h2 class="card-title">Software como serviços Sass</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
        <div class="card-body">
            <h2 class="card-title">Plataforma como serviço (Pass)</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
        <div class="card-body">
            <h2 class="card-title">Infraestrutura como serviço (lasS)</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

</div>