@model Domain.Entidade.Agendamento
@using EnumsNET;
@using Domain.Entidade;
@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Editar Agendamento";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var UserSign = SessionExtensionsHelp.GetObject<IdentityUser>(this.Context.Session, "UserSign");
    var pessoaId = UserSign.Id;


    List<SelectListItem> listItems = new List<SelectListItem>();
    foreach (EStatus item in (EStatus[])Enum.GetValues(typeof(ETipoEspecie)))
    {
        int n;
        var status = item.GetDescription();

        var result = Int32.TryParse(status, out n);
        if (!result)
        {
            listItems.Add(new SelectListItem
            {
                Text = item.GetDescription(),
                Value = item.ToString()
            });
        }
    }
}


<main class="page-content">

    <div class="profile-cover bg-dark"></div>

    <div class="row">
        <div class="col-12 col-lg-8 d-flex justify-content-center mx-auto">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="mb-0">@ViewData["Title"]</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">INFORMAÇÃO DO AGENDAMENTO</h6>
                        </div>
                        <div class="card-body">
                            <form asp-action="Editar" method="post" enctype="multipart/form-data" class="row g-3">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Data" class="control-label"></label>
                                    @Html.EditorFor(model => model.Data, "Data", "Data")
                                    <span asp-validation-for="Data" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Status" class="control-label"></label>
                                    @Html.DropDownListFor(model => model.Status, listItems, new { @class = "form-control", data_toggle = "tooltip", title = "Status", name = "Status" })
                                    <span asp-validation-for="Status" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Comentario" class="control-label"></label>
                                    <input asp-for="Comentario" name="Comentario" class="form-control" />
                                    <span asp-validation-for="Comentario" class="text-danger"></span>
                                </div>
                                <div class="form-group d-flex justify-content-between">
                                    <input type="submit" value="Salvar" class="btn btn-primary" /> |
                                    <a asp-action="Listar" asp-route-id="@pessoaId" class="btn btn-primary"><i class="bi-sharp bi-solid bi-arrow-bar-left"></i></a>
                                </div>
                            </form>
                        
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        var DateTime = document.getElementById("Data");
        DateTime.classList.add("form-control");
    </script>
}