@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="page-content">

    <div class="profile-cover bg-dark"></div>

    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">@ViewData["Title"]</h6>
                        </div>
                        <div class="card-body">
                            <h4>@ViewData["Title"]</h4>

                            <div class="alert alert-warning" role="alert">
                                <p>
                                    <strong>Você está deletando a sua conta do sistema.</strong>
                                </p>
                            </div>

                            <div>
                                <form id="delete-user" method="post" class="form-group">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    @if (Model.RequirePassword)
                                    {
                                        <div class="form-group">
                                            <label asp-for="Input.Password"></label>
                                            <input asp-for="Input.Password" class="form-control" />
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                    }
                                    <button class="btn btn-danger" type="submit">Delete data and close my account</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--fim row-->

</main>
<!--fim main-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
