@model Domain.Entidade.View.ViewModel
@using EnumsNET;
@using Domain.Entidade;
@{
    ViewData["Title"] = "Criar Documento";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> listItemsDocumentos = new List<SelectListItem>();
    listItemsDocumentos.Add(new SelectListItem
    {
        Text = "-- Selecione --",
        Value = new Guid("{00000000-0000-0000-0000-000000000000}").ToString()
    });
    foreach (ETipoDocumento item in (ETipoDocumento[])Enum.GetValues(typeof(ETipoDocumento)))
    {
        int n;
        var status = item.GetDescription();

        var result = Int32.TryParse(status, out n);
        if (!result)
        {
            listItemsDocumentos.Add(new SelectListItem
            {
                Text = item.GetDescription(),
                Value = item.ToString()
            });
        }
    }

    List<SelectListItem> listItemsPets = new List<SelectListItem>();
    listItemsPets.Add(new SelectListItem
    {
        Text = "-- Selecione --",
        Value = new Guid("{00000000-0000-0000-0000-000000000000}").ToString()
    });
    foreach (Pet item in Model.ListaPets)
    {
        listItemsPets.Add(new SelectListItem
        {
            Text = item.Nome,
            Value = item.Id.ToString()
        });
    }

    List<SelectListItem> listItemsProntuarios = new List<SelectListItem>();
    listItemsProntuarios.Add(new SelectListItem
    {
        Text = "-- Selecione --",
        Value = new Guid("{00000000-0000-0000-0000-000000000000}").ToString()
    });
    foreach (Prontuario item in Model.Prontuarios)
    {
        listItemsProntuarios.Add(new SelectListItem
        {
            Text = item.Descricao,
            Value = item.Id.ToString()
        });
    }
}

<main class="page-content">

    <div class="profile-cover bg-dark"></div>

    <div class="row">
        <div class="col-6 col-sm-12">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">@ViewData["Title"]</h6>
                        </div>
                        <div class="card-body">
                            <form asp-action="Criar" method="post" enctype="multipart/form-data" class="row g-3">
                                <div class="col-md-6 col-sm-12">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Documento.Nome" class="control-label"></label>
                                        <input asp-for="Documento.Nome" name="Nome" class="form-control" />
                                        <span asp-validation-for="Documento.Nome" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Documento.Descricao" class="control-label"></label>
                                        <input asp-for="Documento.Descricao" name="Descricao" class="form-control" />
                                        <span asp-validation-for="Documento.Descricao" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Documento.Quantidade" class="control-label"></label>
                                        <input type="number" asp-for="Documento.Quantidade" name="Quantidade" class="form-control" />
                                        <span asp-validation-for="Documento.Quantidade" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Documento.TipoDocumento" class="control-label"></label>
                                        @Html.DropDownListFor(model => model.Documento.TipoDocumento, listItemsDocumentos, new { @class = "form-control", data_toggle = "tooltip", title = "Tipo Documento", name = "TipoDocumento" })
                                        <span asp-validation-for="Documento.TipoDocumento" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Prontuarios" class="control-label"></label>
                                        @Html.DropDownListFor(model => model.Prontuarios, listItemsProntuarios, new { @class = "form-control", data_toggle = "tooltip", title = "Prontuários", name = "Prontuarios" })
                                        <span asp-validation-for="Prontuarios" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ListaPets" class="control-label"></label>
                                        @Html.DropDownListFor(model => model.ListaPets, listItemsPets, new { @class = "form-control", data_toggle = "tooltip", title = "Pets", name = "ListaPets" })
                                        <span asp-validation-for="ListaPets" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Documento.DataInicio" class="control-label"></label>
                                        <input asp-for="Documento.DataInicio" name="DataInicio" class="form-control" />
                                        <span asp-validation-for="Documento.DataInicio" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Documento.DataFim" class="control-label"></label>
                                        <input asp-for="Documento.DataFim" name="DataFim" class="form-control" />
                                        <span asp-validation-for="Documento.DataFim" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Documento.url_documento" class="col-sm-12 col-form-label"></label>
                                        <div class="col-sm-12">
                                            <input type="file" asp-for="Documento.url_documento" name="url_documento" class="form-control">
                                        </div>
                                        <br />
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Create" class="btn btn-primary" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--fim row-->

</main>
<!--fim main-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}