@{
    ViewData["Title"] = "Home Page";
}


<div class="home text-center">
    <div class="row">
        <p class="pt-4">Bem vindo ao Sorteio</p>
        <img class="logo-home" src="~/img/logo.svg" />
    </div>
</div>


